@{
    Layout = "~/Areas/Site/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

@using Zero.Domain;
@model Zero.Web.Areas.Site.Models.ProductListModel

<div class="cover-page-list fl wfs bcf2">
	<div class="place fz12" style="padding-left: 20px;">
		 您现在的位置：<a href=".">首页</a><code>&gt;</code><a href="category-9-b0.html">ECSHOP模板</a>
	</div>
	<div class="fl" style="width: 300px; float: left;">
		<div class="left j-left wfs fz12">
			<h3 class="template">大类<span class="hide-left j-hide-left" style=""><i></i></span></h3>
			<div class="icons j-icons wfs">
                @foreach (var cate in Model.ParentCateList)
                {
                     <a @if (Model.PathCateList != null && Model.PathCateList.Count > 0 && Model.PathCateList[0].CateId == cate.CateId)
                        {<text>class="now"</text>} href="@ProductUrlFactory.GetListUrl(Model.ProductSearch, cate.CateId, "")">@cate.CateName</a><br /><br />
                }
			</div>
			<div class="templates-items j-template-items wfs" style="display: block;">
                @foreach (var cate in Model.CateList)
                {
				    <dl class="conditions wfs">
					    <dt class="j-demo-l-dt wfs"><b>@cate.CateName</b></dt>
                         @if (cate.children != null)
                         {
					        <dd class="j-demo-l-dd wfs" @if (cate.CateId == Model.ProductSearch.CateId || cate.children.SingleOrDefault(c => c.CateId == Model.ProductSearch.CateId) != null)
                                         {<text>style="display: block;"</text>}>
                                @foreach (var childCate in @cate.children)
                                {
                                    <a href="@ProductUrlFactory.GetListUrl(Model.ProductSearch, childCate.CateId, "")" 
                                        @if (childCate.CateId == Model.ProductSearch.CateId){<text>class="now"</text>} >@childCate.CateName</a>
                                }
                            </dd>
                         }
				    </dl>
                }
			</div>
			<div class="also-like wfs mt20">
				<h4>游览过的记录</h4>
				<ul class="likes">
					<li class="likes-li wfs"><span class="commend">新品</span><a target="_blank" href="goods_topic-408.html"><img src="http://upfile.ecmoban.com/images/201409/thumb_img/408_thumb_G_1412040867989.png" title="大京东——最佳行业解决方案 最新升级版2.0" alt="大京东——最佳行业解决方案 最新升级版2.0"></a><strong class="fl wfs" style="text-align: center;"><a title="大京东——最佳行业解决方案 最新升级版2.0" target="_blank" href="goods_topic-408.html">大京东——最佳行业解决方案 最新升级版2.0</a></strong><i class="fl wfs">￥98000元 </i></li>
					<li class="likes-li wfs"><span class="commend">新品</span><a target="_blank" href="goods_topic-479.html"><img src="http://upfile.ecmoban.com/images/201409/thumb_img/479_thumb_G_1412040907515.png" title="ECSHOP商创版-首款企业级多用户商城系统_ECSC" alt="ECSHOP商创版-首款企业级多用户商城系统_ECSC"></a><strong class="fl wfs" style="text-align: center;"><a title="ECSHOP商创版-首款企业级多用户商城系统_ECSC" target="_blank" href="goods_topic-479.html">ECSHOP商创版-首款企业级多用户商城系统_ECSC</a></strong><i class="fl wfs">￥23000元 </i></li>
					<li class="likes-li wfs"><span class="commend">新品</span><a target="_blank" href="goods_topic-414.html"><img src="http://upfile.ecmoban.com/images/201409/thumb_img/414_thumb_G_1412041795777.png" title="ECTouch微商城—首款ecshop微信商城系统 自主开发" alt="ECTouch微商城—首款ecshop微信商城系统 自主开发"></a><strong class="fl wfs" style="text-align: center;"><a title="ECTouch微商城—首款ecshop微信商城系统 自主开发" target="_blank" href="goods_topic-414.html">ECTouch微商城—首款ecshop微信商城系统 自主开发</a></strong><i class="fl wfs">￥5000元 </i></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="right j-right" style="margin-left: 300px;">
        <style>
            .attr{/*border:1px solid #ccc;*/background-color:#fff;font-size: 12px;}
            .attr .a-item{height:30px;border-top:1px dotted #ccc;line-height:30px;}
            .attr .a-brand{border-top:none;}
            .attr .a-key{float:left;text-align:right;width:100px;}
            .attr .a-value{float:left;}
            .attr .a-value li{float:left;margin-left:25px;}
            .attr .a-value li a{padding:2px 5px;}
            .attr .a-value li span{ color: #fff;background-color: #FC7878;padding:2px 5px;}

            .tool{font-size:12px;margin-top:10px;}
            .tool .t-order{float:left;}
            .tool .t-order a{float:left;width: 50px;height: 30px;line-height: 30px;color: #333;text-align: center;background-color: #fff;border-right: 1px solid #F2F2F2;}
            .tool .page{float:right;}
        </style>
		<div class="sort wfs clearfix" style="padding-bottom:5px;">
            <div class="attr">
                @{
                    if (Model.CateAttrList != null && Model.CateAttrList.Count > 0)
                    {
                        foreach (var cateAtrr in Model.CateAttrList)
                        {
                            if (!string.IsNullOrEmpty(cateAtrr.AttrValue))
                            {
                                <div class="a-item">
                                    <div class="a-key">@cateAtrr.Attr.AttrName：</div>
                                    <div class="a-value">
                                        <ul>
                                            @foreach (var value in cateAtrr.AttrValue.Split(';'))
                                            {
                                                <li>
                                                    @if (!Model.ProductSearch.Attr.Contains(cateAtrr.Attr.AttrId + ":" + value.Split(':')[0]))
                                                    {
                                                        <a href="@ProductUrlFactory.GetListUrl(Model.ProductSearch, -1, cateAtrr.Attr.AttrId + ":" + value.Split(':')[0])">@value.Split(':')[1]</a>
                                                    }
                                                    else
                                                    {
                                                        <span>@value.Split(':')[1]</span>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        }
                    }
                 }
                @*<div class="a-item">
                    <div class="a-key">品牌：</div>
                    <div class="a-value">
                        <ul>
                            <li><a>安踏</a></li>
                            <li><a>李宁</a></li>
                            <li><a>中国</a></li>
                        </ul>
                    </div>
                </div>*@
            </div>
            <div class="tool">
                <div class="t-order">
                    <a>新品</a>
                    <a>价格</a>
                    <a>热评</a>
                    <a>热销</a>
                </div>
                @*<div id="paging2" class="page">
                </div>
                <script>
                    $.zero.paging({ renderTo: "#paging2", recordCount: @Model.ProductPage.TotalCount,pageIndex: @Model.ProductPage.PageIndex+1,pageSize:@Model.ProductPage.PageSize,digit: 1});
                </script>*@
            </div>
			@*<div style="float: left;">
				<span style="margin-left: 45px; float: left; padding-top: 5px; font-size: 12px;">排序：</span>
                <span class="sort-icons j-sort-icons">
                    <a class="now" rel="nofollow" href="category.php?category=9&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=goods_id&order=ASC#goods_list">新品</a>
                    <a rel="nofollow" href="category.php?category=9&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=shop_price&order=ASC#goods_list">价格</a>
                    <a rel="nofollow" href="category.php?category=9&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=last_update&order=DESC#goods_list">热评</a>
                    <a rel="nofollow" href="category.php?category=9&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=sales_count&order=ASC#goods_list">热销</a>
                </span>
			</div>*@
			@*<div class="totals" style="padding-top: 20px; margin-top: 0px; text-align: right;">
				共找到<i>150</i>款产品
			</div>*@
		</div>
		<form name="compareForm" action="compare.php" method="post" onsubmit="return compareGoods(this);">
			<div class="boutique">
				<ul class="items wfs clearfix">
                    @foreach (var product in @Model.ProductPage.Items)
                    {
					    <li class="items-li j-items-li">
                            <a href="@product.DetailUrl" target="_blank"><img class="goodsimg" data-original="@PhotoUrlFactory.GetPhotoUrl(product.Photo, 294, 294)" src="/content/default/images/loading.gif" alt="ECSHOP模板堂美味七七最新模板+积分换购"/></a>
					        <div class="wrap_div">
						        <div>
							        <b class="title"><a href="@product.DetailUrl" title="ECSHOP模板堂美味七七最新模板+积分换购" target="_blank">ECSHOP模板堂美味七七最新模板+积分...</a></b>
                                    <span class="description">
                                        <a href="category-9-b0.html" target="_blank" title="">ECSHOP模板 </a> - <a href="category-4-b0.html" target="_blank" title="">综合通用 </a>
                                    </span>
							        <p class="price-attente">
								         与手机端组合购买立减500元
							        </p>
						        </div>
					        </div>
					        <p class="price-attente">
						        <span class="price">￥5000元 </span><span class="attente" title="浏览量">1729</span>
					        </p>
					    </li>
                    }
				</ul>
			</div>
		</form>
		<script type="text/javascript">
		    function selectPage(sel) {
		        sel.form.submit();
		    }
        </script>
		<script type="text/javascript">
		    var button_compare = '';
		    var exist = "您已经选择了%s";
		    var count_limit = "最多只能选择4个商品进行对比";
		    var goods_type_different = "\"%s\"和已选择商品类型不同无法进行对比";
		    var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
		    var btn_buy = "购买";
		    var is_cancel = "取消";
		    var select_spe = "请选择商品属性";
        </script>
		<form name="selectPageForm" class="pageForm" action="/category.php" method="get">
            @*<div class="fl wfs">
                <ul class="pagination pages">
                    <li><a href="">上一页</a></li>
                    <li><a>1</a></li>
                    <li><a href="javascript:void(0);">...</a></li>
                    <li><a href="">2</a></li>
                    <li class="active"><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="javascript:void(0);">...</a></li>
                    <li><a href="">10</a></li>
                    <li><a href="">下一页</a></li>
                </ul>
            </div>*@
            <div id="paging" class="page">
                @*<div class="p-warp">
                    <span class="p-num">
                        <a>上一页</a>
                        <a>1</a>
                        <b>...</b>
                        <a>4</a>
                        <a>5</a>
                        <a class="current">6</a>
                        <a>7</a>
                        <a>8</a>
                        <b>...</b>
                        <a>1011</a>
                        <a>下一页</a>
                    </span>
                    <span class="p-skip">
                        <em>
                            共<b>100</b>条
                        </em>
                        <em>
                            到第&nbsp<input />&nbsp;页
                        </em>
                        <a>确定</a>
                    </span>
                </div>*@
            </div>
            <script>
                $.zero.paging({ renderTo: "#paging", recordCount: @Model.ProductPage.TotalCount,pageIndex: @Model.ProductPage.PageIndex+1,pageSize:@Model.ProductPage.PageSize,digit: 1});
            </script>
        </form>
		<script type="text/javascript">
		    function selectPage(sel) {
		        sel.form.submit();
		    }
        </script>
		<div style="clear: both;">
		</div>
	</div>
</div>


@Html.Partial("_Footer")

<script>
    // 商品动画
    var move = function (wrap, cname) {

        $("." + wrap).each(function () {
            var obj = $(this).find("." + cname);
            var p = obj.find("p");
            $(this).hover(function () {
                p.stop().animate({ height: 20 }, 200);
                $(this).addClass("active");
            }, function () {
                p.stop().animate({ height: 0 }, 200);
                $(this).removeClass("active");
            });
        });
    }
    move("j-items-li", "wrap_div");
    //模板条件切换
    $(".j-icons a").click(function () {
        $(this).addClass("now").siblings("a").removeClass("now");
        $(".j-template-items").eq($(this).index()).show().siblings(".j-template-items").hide();
    });
    // 排序切换
    $(".j-sort-icons a").click(function () {
        $(this).addClass("now").siblings("a").removeClass("now");
    });
    //左侧隐藏和展开
    $(".j-hide-left").click(function () {
        if ($(".j-left").css('left') != "-300px") {
            $(".j-left").animate({ left: '-300px' }, "slow");
            $(".j-right").animate({ left: "-300px" }, "slow");
            $(".j-right").css({ width: "100%" });
            $(this).children().addClass('now');
        } else {
            $(".j-left").animate({ left: '0' }, "slow");
            $(".j-right").animate({ left: "0px" }, "slow");
            $(".j-right").css({ width: "auto" });
            $(this).children().removeClass('now');
        }
    })
    $(".j-demo-l-dt").click(
        function () {
            if ($(this).hasClass('now')) {
                $(this).removeClass("now");
                $(this).siblings("dd").hide();
            } else {
                $(this).addClass("now");
                $(this).siblings("dd").show();
            }
        }
    );
    // $(".j-demo-l-dd a").click(function(){
    //      var span = "<span>"+$(this).html()+"</span>";
    //      $(this).parent("dd").siblings("dt").children("b").children("span").remove();
    //      $(this).parent("dd").siblings("dt").children("b").append(span);
    // });
</script>



