@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detail";
}

@section Contents {
    @System.Web.Optimization.Scripts.Render("~/content/js/jquery.min.js")
    @System.Web.Optimization.Scripts.Render("~/content/js/jquery.lazyload.js")
}

@model Zero.Web.Models.ProductDetailModel
@using Zero.Domain

@Html.Partial("_Top")
@Html.Partial("_Header")

<div class="block box">
        <div class="box">
            <div class="box_1">
                <div class="ur_here">
                    @*<a href=".">首页</a> <code>&gt;</code>  <a href="category-41-b0.html">ecshop微商城</a> <code>&gt;</code> ecshop微商城—首款ecshop微信商城系统 自主开发*@
                    
                    @{
                        foreach(var cate in Model.CateList)
                        {
                            <a href="@ProductUrlFactory.GetListUrl(@cate.CateId)" target="_blank">@cate.CateName</a>
                         <code>&gt;</code>
                        }
                    }
                    @Model.Product.ProductName
                </div>
                <div class="blank"></div>

                <style>
                    .z-sku dl,.z-base dl,.z-quantity dl{clear:both;font-family: "Microsoft Yahei";font-size: 14px;font-weight: 400;color: #666;}
                    .z-sku dt,.z-base dt,.z-quantity dt{float:left;width:60px;height:25px;line-height:25px;}
                    .z-sku dd,.z-base dd,.z-quantity dd{float:left;padding-left:5px;}

                    .z-base dd{height:25px;line-height:25px; }

                    .z-sku dl{}
                    .z-sku li{ float:left;margin-bottom:5px;margin-right:5px;}
                    /*.z-sku li span {display:block;padding:3px 2px;}*/
                    .z-sku li a{border: #c8c9cd 2px solid;text-align: center; display: block;  color: #000; font-size:12px;padding:3px 6px;}
                    .z-sku li a:hover {border:#cb0404 2px solid;cursor:pointer;}
                    .z-sku li a:focus {outline-style:none;}
                    .z-sku .selected a{border:#cb0404 2px solid; background: url("/content/images/test.gif") no-repeat bottom right;  }
                    .z-sku .selected a:hover {border: #cb0404 2px solid; background: url("/content/images/test.gif") no-repeat bottom right;}

                    .z-btn { margin-top:10px;cursor:pointer;}
                    .z-btn a{display: block;float: left;margin-right:5px;width:100px;height: 32px;background: url(/content/images/user_bnt.gif) 0 0 no-repeat;color:#fff;font-size: 16px;line-height:30px; font-weight: 400;text-align:center;}
                </style>
                <div id="goodsInfo" class="clearfix">

                    <div class="imgInfo">
                        <img src="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(Model.Product.Photo, 262,262)" alt="@Model.Product.ProductName" />
                    </div>

                    <div class="textInfo">
                            <div>
                                <input type="hidden" id="ProductId" value="@Model.Product.ProductId" />
                                <input type="hidden" id="SkuList" value="@Model.SkuList" />
                                <h1>@Model.Product.ProductName</h1>
                                <a href="javascript:collect(414)" class="ico_shoucang  ">
                                    <div class="aa1">收藏</div>
                                    <div class="aa2">2</div>
                                </a>
                                <div class="blank"></div>
                                <input style="display: none" name="number" type="text" id="number" value="1" size="4" onblur="changePrice()" />
                            </div>
                            <div class="z-base" >
                                <dl><dt class="show_goods_amount">促销单价</dt><dd><b class="shop">￥7000元</b></dd></dl>
                                <dl><dt class="show_goods_amount">一口价</dt><dd><b class="shop">￥6000元</b></dd></dl>
                            </div>
                            <div class="z-sku clearfix">
                                @*<dl>
                                    <dt>颜色</dt>
                                    <dd>
                                        <ul>
                                            <li class="selected"><a><span>白色</span></a></li>
                                            <li><a><span>黑色</span></a></li>
                                            <li><a><span>蓝色</span></a></li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>尺码</dt>
                                    <dd>
                                        <ul>
                                            <li><a><span>X</span></a></li>
                                            <li class="selected"><a><span>L</span></a></li>
                                            <li><a><span>XL</span></a></li>
                                        </ul>
                                    </dd>
                                </dl> 
                                <dl>
                                    <dt>数量</dt>
                                    <dd>
                                        <input type="text" style="width:50px;height:16px;"/> 件
                                        库存(0)件
                                    </dd>
                                </dl>  *@                            
                            </div>
                            <div class="z-quantity clearfix">
                                <dl>
                                    <dt>数量</dt>
                                    <dd>
                                        <input id="quantity" type="text" style="width:50px;height:16px;"/> 件
                                        库存(0)件
                                    </dd>
                                </dl>
                            </div>
                            <div class="z-btn">
                                <a class="z-buy"><b>立即购买</b></a>
                                <a class="z-cart"><b>加入购物车</b></a>
                            </div>
                            <script>
                                $(function () {

                                    ///----加载规格----///

                                    function LoadAttr() {
                                        var skuList = $("#SkuList").val();

                                        //var skuArray = [{ attr: '1:1:颜色:红色,2:5:尺码:37,4:13:品牌:耐克', quantity: 10 }, { attr: '1:1:颜色:红色,2:6:尺码:38,4:13:品牌:耐克', quantity: 10 }];

                                        if (skuList == "[]") return false;

                                        var skuArray = eval('(' + skuList + ')');

                                        var attrArray = skuArray[0].Attr.split(",");

                                        var dl = [];
                                        var dt = [];
                                        var dd = [];
                                        var ul = [];
                                        var valueArray = [];

                                        for (var i = 0; i < attrArray.length; i++) {
                                            var key = attrArray[i].split(":")[2];
                                            dl[i] = $("<dl></dl>");
                                            dt[i] = $("<dt></dt>").text(key);
                                            dd[i] = $("<dd></dd>");
                                            ul[i] = $("<ul></ul>");
                                            dd[i].append(ul[i]);
                                            dl[i].append(dt[i]).append(dd[i]);
                                            valueArray[i] = [];
                                        }

                                        for (var j = 0; j < skuArray.length; j++) {
                                            attrArray = skuArray[j].Attr.split(",");
                                            for (var i = 0; i < attrArray.length; i++) {
                                                if (valueArray[i].indexOf(attrArray[i]) == -1) {
                                                    valueArray[i].push(attrArray[i]);
                                                }
                                            }
                                        }

                                        for (var i = 0; i < valueArray.length; i++) {
                                            var li = [];
                                            for (var j = 0; j < valueArray[i].length; j++) {
                                                var span = $("<span></span>").text(valueArray[i][j].split(":")[3]);
                                                var a = $("<a></a>").append(span).attr("name", valueArray[i][j]);
                                                li[j] = $("<li></li>").append(a);

                                                li[j].click(function () {
                                                    $(this).siblings(".selected").removeClass("selected");
                                                    $(this).toggleClass("selected");
                                                });
                                            }
                                            ul[i].append(li);
                                        }

                                        $(".z-sku").empty().append(dl);
                                    }

                                    LoadAttr();

                                    ///-----提交数据------///
                                    $(".z-buy").click(function () {
                                        alert("立即购买");
                                    });

                                    $(".z-cart").click(function () {
                                        addCart();
                                    });

                                    function addCart() {
                                        var sku = $(".z-sku dl");
                                        var selectSku = $(".z-sku .selected");
                                        var quantity = $("#quantity").val();
                                        var productId = $("#ProductId").val();

                                        if (selectSku.length != sku.length) {
                                            alert("请选择完整的属性！"); return false;
                                        }
                                        if (quantity == "") {
                                            alert("请填写正确的数字"); return false;
                                        }
                                        if (productId == "") {
                                            alert("无商品编号"); return false;
                                        }
                                        var attr = "";

                                        selectSku.each(function () {
                                            attr += $(this).find("a").attr("name");
                                            attr += ",";
                                        });

                                        if (attr.length > 0) {
                                            attr = attr.substring(0, attr.length - 1);
                                        }

                                        var parma = { ProductId: productId, Attr: attr, Quantity: quantity };

                                        $.ajax({
                                            url: "/Cart/SetCartQuantity",
                                            type: "Post",
                                            data: parma,
                                            dataType: "json",
                                            beforeSend: function () {
                                            },
                                            success: function (data) {
                                                alert(data.Message);
                                            },
                                            error: function () {
                                                alert('系统异常，请重试或联系技术');
                                            }
                                        });
                                    }
                                });
                           </script> 
                            @*<div class="score-wrap" style="margin-left:200px;" onmouseover="this.className='score-wrap score-wrap-on'" onmouseout="this.className='score-wrap'">
                                        <div class="score">
                                            <p class="score-num">
                                                <span class="value">5</span><span class="unit">分</span>
                                            </p>
                                            <p class="score-no score-5"></p>
                                            <p class="view-detail">查看详情</p>
                                        </div>
                                        <div class="score-bottom">
                                            <div class="line clearfix">
                                                <span class="span1">好评</span>
                                                <div class="span2" title="0人好评 0%">
                                                    <div class="span2in" style="width: 0%;"></div>
                                                </div>
                                                <span class="span3">(0%)</span>
                                            </div>
                                            <div class="line clearfix">
                                                <span class="span1">中评</span>
                                                <div class="span2" title="0人中评 0%">
                                                    <div class="span2in" style="width: 0%;"></div>
                                                </div>
                                                <span class="span3">(0%)</span>
                                            </div>
                                            <div class="line clearfix">
                                                <span class="span1">差评</span>
                                                <div class="span2" title="0人查评 0%">
                                                    <div class="span2in" style="width: 0%;"></div>
                                                </div>
                                                <span class="span3">(0%)</span>
                                            </div>
                                        </div>
                                    </div>*@
                            <a href="http://www.ecmoban.com/weixin" title="ecshop微商城" target="_blank" style="position: absolute; right: 10px; bottom: 15px;">
                                <img src="/content/images/goods_r1.png" alt="ecshop微商城" />
                            </a>
                            <div style="position: absolute; right: 0; top: 0">
                                <div class="sp-singleAct" style="">
                                    <span></span>
                                    <dl>
                                        <dd class="song">
                                            <a href="http://www.ecmoban.com/kongjian.php" title="买空间+模板送域名" target="_blank">买空间+模板送com域名</a>
                                        </dd>
                                        <dd class="song">
                                            <a href="http://www.ecmoban.com/goods-250.html" title="满3000送图片批量上传插件" target="_blank">满3000送图片批量上传插件</a>
                                        </dd>
                                        <dd class="jian">
                                            <a href="http://www.ecmoban.com/article-1660.html" title="扫微信立减200" target="_blank">扫模板堂官方微信立减200</a>
                                        </dd>
                                        <dd class="zhe">
                                            <a href="http://www.ecmoban.com/topic.php?topic_id=11" title="春节特惠豪礼大放送！" target="_blank">春节特惠豪礼大放送！</a>
                                        </dd>
                                        <dd class="zhe">
                                            <a href="http://www.ecmoban.com/shouquan.html" title="ecshop授权" target="_blank">买ecshop商业授权有优惠！</a>
                                        </dd>

                                    </dl>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="blank"></div>
<div class="blank"></div>
<div class="block box">

<div class="AreaL" style="float: right">

    <div class="box" id='history_div' style="position: relative">
        <div class="box_1" style="border-bottom: none">
            <h3><span>浏览历史</span></h3>
            <div class="boxCenterList clearfix" id='history_list'>
                <ul class="clearfix">
                    <li class="goodsimg"><a href="goods-251.html" target="_blank">
                        <img src="images/201310/thumb_img/251_thumb_G_1381128807801.jpg" alt="模板堂Vjia至尊旗舰版" class="B_blue" /></a></li>
                    <li><a href="goods-251.html" target="_blank" title="模板堂Vjia至尊旗舰版">模板堂Vjia至尊旗舰版</a><br />
                        <font class="f1">￥6000元</font><br />
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="goodsimg"><a href="goods-296.html" target="_blank">
                        <img src="images/201311/thumb_img/296_thumb_G_1384280654864.jpg" alt="模板堂全网最强美乐乐+团购+晒单+频道" class="B_blue" /></a></li>
                    <li><a href="goods-296.html" target="_blank" title="模板堂全网最强美乐乐+团购+晒单+频道">模板堂全网最强美乐乐+团购+晒单+频道</a><br />
                        <font class="f1">￥4500元</font><br />
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="goodsimg"><a href="goods-351.html" target="_blank">
                        <img src="images/201401/thumb_img/351_thumb_G_1390437695266.jpg" alt="ECSHOP模板堂2014万表网全网首发" class="B_blue" /></a></li>
                    <li><a href="goods-351.html" target="_blank" title="ECSHOP模板堂2014万表网全网首发">ECSHOP模板堂2014万表网全网首发</a><br />
                        <font class="f1">￥3800元</font><br />
                    </li>
                </ul>
                <ul id="clear_history"><a onclick="clear_history()">[清空]</a></ul>
            </div>
        </div>
    </div>
    <div class="blank"></div>
    <script type="text/javascript">
        //if (document.getElementById('history_list').innerHTML.replace(/\s/g,'').length<1)
        //{
        //    document.getElementById('history_div').style.display='none';
        //}
        //else
        //{
        //    document.getElementById('history_div').style.display='block';
        //}
        //function clear_history()
        //{
        //    Ajax.call('user.php', 'act=clear_history',clear_history_Response, 'GET', 'TEXT',1,1);
        //}
        //function clear_history_Response(res)
        //{
        //    document.getElementById('history_list').innerHTML = '您已清空最近浏览过的商品';
        //}

        $(function () {
            var product = [];
            product[0].ProductName = "模板堂全网最强美乐乐+团购+晒单+频道";
            product[0].Photo = "images/201401/thumb_img/351_thumb_G_1390437695266.jpg";
            product[0].DetailUrl = "goods-351.html";
            product[0].Price = "100";
            alert(product[0].ProductName);
            
        });

    </script>
</div>

<div class="AreaR" style="float: left; position: relative">


    <div class="box_1" style="border-top: none">
        <style>
            .attr li{float:left;width:33%;margin-bottom:10px;}
            .param{background:#ccc;width:100%;border-collapse: separate;border-spacing: 1px;border-color: gray;}
            .param th{background:#F5FAFE;padding:5px 8px;width:110px;text-align:right}
            .param td{padding:5px 8px;background:#fff;text-align:left;}
            .param .title{text-align:center;}

            .detail-tab{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
            .detail-tab li{float: left;width: 140px;height: 34px;line-height: 34px;color: #666;border-right: 1px solid #ddd;text-align: center;text-align: center;font-size: 14px;font-weight: normal;cursor:pointer;}
            .detail-tab .selected{background: #cb0404;color: #fff;}
        </style>
        @*<div class="history clearfix">
                <h2>详情描述</h2>
                <h2 class="h2bg">规格参数</h2>
                <h2 class="h2bg">包装清单</h2>
                <h2 class="h2bg">用户评价</h2>
                <h2 class="h2bg">服务保障</h2>
            </div>*@
        <ul class="detail-tab clearfix">
            <li class="selected">详情描述</li>
            <li>规格参数</li>
            <li>包装清单</li>
            <li>用户评价</li>
            <li>服务保障</li>
        </ul>
        <div class="detail-content">
            <div class="item">
            <blockquote>
                <ul class="attr">
                    @{
                        var baseAttr = Model.Product.BaseAttr;
                        if (!string.IsNullOrEmpty(baseAttr))
                        {
                            var attrArray = baseAttr.Split(';');
                                    
                            foreach(var attr in attrArray)
                            {
                                var attrList = attr.Split(':');
                                <text><li>@attrList[2]：@attrList[3]</li></text>
                            }
                        }
                        }
                    </ul>
                <div class="content">
                    @(new HtmlString(Model.Product.Desc.Desc))
                </div>
            </blockquote>
            </div>

            <div class="item hidden">
                <blockquote>
                <table class="param">
                    <tr><th class="title" colspan="2">显示</th></tr>
                    <tr>
                        <th>品牌</th>
                        <td>耐克</td>
                    </tr>
                    <tr>
                        <th>尺码</th>
                        <td>37</td>
                    </tr>
                    <tr>
                        <th>颜色</th>
                        <td>白色</td>
                    </tr>
                    <tr>
                        <th>出产地</th>
                        <td>广东</td>
                    </tr>
                    <tr><th class="title" colspan="2">内核</th></tr>
                    <tr>
                        <th>cpu</th>
                        <td>晓龙</td>
                    </tr>
                    <tr>
                        <th>内存</th>
                        <td>1.6G</td>
                    </tr>
                    <tr>
                        <th>有点</th>
                        <td>降噪</td>
                    </tr>
                </table>
                </blockquote>
            </div>

            <div class="item hidden">
                <blockquote>
                    C2多功能互联网摄像机*1 电源适配器*1 支架*1 白色膨胀螺丝*3 螺钉*3 安装贴纸*1 快速操作指南*1 合格证*1 保修卡*1       
                </blockquote>
            </div>

            <div class="item hidden">
                <blockquote>
                    正在开发中。。。。
                </blockquote>
            </div>

            <div class="item hidden">
                <blockquote>
                    本产品全国联保，享受三包服务，质保期为：一年质保      
                </blockquote>
            </div>
        </div>
        <script>
            $(function () {
                $(".detail-tab li").click(function () {
                    var index = $(this).index();
                    $(".detail-tab .selected").removeClass("selected");;
                    $(this).addClass("selected");
                    $(".detail-content .item").addClass("hidden");
                    $(".detail-content .item").eq(index).removeClass("hidden");
                });
            });
        </script>
            
        <div style="padding: 0 14px;">
            <div id="ECS_COMMENT">
                <div class="box_1">
                    <h3 class="h3_3"><span class="text">用户评论</span>(共<font class="shop">2</font>条评论)</h3>
                    <div class="boxCenterList clearfix" style="height: 1%; padding: 15px 0;">
                        <ul class="comments" style="border: none; padding: 0">
                            <li>
                                <div class="jianju">



                                    <font class="f2">凉心凉情凉姑娘</font><font class="f3">2014-01-27 09:54:32</font>
                                    <div class="score-no score-5"></div>
                                    <p>东西非常多，而且很实用。操作视频也讲解的非常清楚。店家服务态度非常好！绝对物超所值！</p>
                                    <div class="blank"></div>
                                    <div class="blank5"></div>

                                    <div class="blank"></div>
                                    <div class="blank"></div>
                                </div>
                            </li>
                            <li>
                                <div class="jianju">



                                    <font class="f2">幻听你的温柔</font><font class="f3">2014-01-27 09:38:58</font>
                                    <div class="score-no score-5"></div>
                                    <p>卖家服务态度很好，样式齐全，价格便宜，省时省事，又省心．非常感谢卖家提供的服务，谢谢！</p>
                                    <div class="blank"></div>
                                    <div class="blank5"></div>

                                    <div class="blank"></div>
                                    <div class="blank"></div>
                                </div>
                            </li>
                        </ul>

                        <div id="pagebar" class="f_r" style="padding-right: 20px;">
                            <form name="selectPageForm" action="/goods.php" method="get">
                                <div id="pager">
                                    <span><a href="javascript:gotoPage(1,353,0)">第一页</a> <a href="javascript:;">上一页</a> <a href="javascript:;">下一页</a> <a href="javascript:;">最末页</a> </span>
                                </div>
                            </form>
                            <script type="Text/Javascript" language="JavaScript">
                <!--

    function selectPage(sel) {
        sel.form.submit();
    }

    //-->
                            </script>
                        </div>

                        <div class="blank5"></div>

                        <div class="commentsList">
                            <form action="javascript:;" onsubmit="submitComment(this)" method="post" name="commentForm" id="commentForm">
                                <table width="874" border="0" cellspacing="0" cellpadding="0">

                                    <tbody>
                                        <tr>

                                            <td style="display: none">
                                                <input type="text" name="email" id="email" maxlength="100" value="" class="inputBorder">
                                            </td>
                                        </tr>

                                        <tr>

                                            <td>
                                                <textarea name="content" class="inputBorder" style="height: 70px; width: 852px;"></textarea>
                                                <input type="hidden" name="cmt_type" value="0">
                                                <input type="hidden" name="id" value="353">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="comments_bottom">
                                                <div class="blank"></div>
                                                <input name="comment_rank" type="radio" value="5" checked="checked" id="comment_rank5">
                                                <div class="score-no score-5"></div>
                                                <input name="comment_rank" type="radio" value="4" id="comment_rank4">
                                                <div class="score-no score-4"></div>
                                                <input name="comment_rank" type="radio" value="3" id="comment_rank3">
                                                <div class="score-no score-3"></div>
                                                <input name="comment_rank" type="radio" value="2" id="comment_rank2">
                                                <div class="score-no score-2"></div>
                                                <input name="comment_rank" type="radio" value="1" id="comment_rank1">
                                                <div class="score-no score-1"></div>






                                                <script language="javascript" type="text/javascript">
                                                    function showDiv() {
                                                        document.getElementById('popDiv').style.display = 'block';
                                                    }
                                                    function closeDiv() {
                                                        document.getElementById('popDiv').style.display = 'none';
                                                    }
                                                </script>
                                                <a href="javascript:showDiv()" class="bnt_blue f_r">提交评论</a>




                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                            <div id="popDiv" class="mydiv" style="display: none;">
                                <div class="tit"><span>登陆模板堂</span> <a href="javascript:closeDiv()">
                                    <img src="themes/ecmoban/images/guanbi1.gif"></a></div>


                                <div class="mydiv_in">
                                    <form id="ECS_LOGINFORM" name="ECS_LOGINFORM" method="post" action="javascript:signIn()">
                                        <dl>
                                            <dd><b>用户名/邮箱:</b><input name="username" type="text" class="inputBg" tabindex="1" value=""></dd>
                                            <dd><b>密 码:</b><input name="password" class="inputBg" type="password" tabindex="2"></dd>
                                            <dd>
                                                <b>&nbsp; </b>
                                                <input type="checkbox" value="1" name="remember" id="remember" style="vertical-align: middle"><label style="color: #999" for="remember">自动登录</label>
                                            </dd>
                                            <dd style="padding-top: 0;">
                                                <b>&nbsp; </b>
                                                <input type="submit" name="submit" value="登 录" class="bnt_blue">
                                                <a style="padding-left: 7px" href="user.php?act=get_password">忘记密码？</a><span style="color: #ccc">|</span> <a href="user.php?act=get_password">注册</a>
                                            </dd>
                                        </dl>

                                        <div class="mydiv_bottom">
                                        </div>
                                        <input type="hidden" name="goods_id" value="353">
                                    </form>
                                </div>
                                <script type="text/javascript">
                                    /**
                                     * 会员登录
                                     */
                                    function signIn() {
                                        var frm = document.forms['ECS_LOGINFORM'];

                                        if (frm) {
                                            var username = frm.elements['username'].value;
                                            var goods_id = frm.elements['goods_id'].value;
                                            var password = frm.elements['password'].value;
                                            var captcha = '';
                                            if (frm.elements['captcha']) {
                                                captcha = frm.elements['captcha'].value;
                                            }

                                            if (username.length == 0 || password.length == 0) {

                                                alert("对不起，您必须完整填写用户名和密码。");

                                                return;
                                            }
                                            else {
                                                Ajax.call('user.php?act=signin', 'username=' + username + '&password=' + encodeURIComponent(password) + '&captcha=' + captcha + '&goods_id=' + goods_id, signinResponse, "POST", "TEXT");
                                            }
                                        }
                                        else {
                                            alert('Template error!');
                                        }
                                    }

                                    function signinResponse(result) {
                                        var userName = document.forms['ECS_LOGINFORM'].elements['username'].value;
                                        var mzone = document.getElementById("ECS_MEMBERZONE");
                                        var res = result.parseJSON();

                                        if (res.error > 0) {
                                            // 登录失败
                                            alert(res.content);
                                            if (res.html) {
                                                mzone.innerHTML = res.html;
                                                document.forms['ECS_LOGINFORM'].elements['username'].value = userName;
                                            }
                                        }
                                        else {
                                            if (mzone) {
                                                mzone.innerHTML = res.content;
                                                evalscript(res.ucdata);
                                                //alert(res.ucdata);
                                            }
                                            else {
                                                alert("Template Error!");
                                            }

                                            location.href = "goods.php?id=" + res.goods_id;

                                        }
                                    }
                                </script>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="blank5"></div>

                <script type="text/javascript">
                    //<![CDATA[
                    var cmt_empty_username = "请输入您的用户名称";
                    var cmt_empty_email = "请输入您的电子邮件地址";
                    var cmt_error_email = "电子邮件地址格式不正确";
                    var cmt_empty_content = "您没有输入评论的内容";
                    var captcha_not_null = "验证码不能为空!";
                    var cmt_invalid_comments = "无效的评论内容!";

                    /**
                     * 提交评论信息
                    */
                    function submitComment(frm) {
                        var cmt = new Object;

                        //cmt.username        = frm.elements['username'].value;
                        cmt.email = frm.elements['email'].value;
                        cmt.content = frm.elements['content'].value;
                        cmt.type = frm.elements['cmt_type'].value;
                        cmt.id = frm.elements['id'].value;
                        cmt.enabled_captcha = frm.elements['enabled_captcha'] ? frm.elements['enabled_captcha'].value : '0';
                        cmt.captcha = frm.elements['captcha'] ? frm.elements['captcha'].value : '';
                        cmt.rank = 0;

                        for (i = 0; i < frm.elements['comment_rank'].length; i++) {
                            if (frm.elements['comment_rank'][i].checked) {
                                cmt.rank = frm.elements['comment_rank'][i].value;
                            }
                        }

                        //  if (cmt.username.length == 0)
                        //  {
                        //     alert(cmt_empty_username);
                        //     return false;
                        //  }

                        if (cmt.email.length > 0) {
                            if (!(Utils.isEmail(cmt.email))) {
                                alert(cmt_error_email);
                                return false;
                            }
                        }
                        else {
                            alert(cmt_empty_email);
                            return false;
                        }

                        if (cmt.content.length == 0) {
                            alert(cmt_empty_content);
                            return false;
                        }

                        if (cmt.enabled_captcha > 0 && cmt.captcha.length == 0) {
                            alert(captcha_not_null);
                            return false;
                        }

                        Ajax.call('comment.php', 'cmt=' + $.toJSON(cmt), commentResponse, 'POST', 'JSON');
                        return false;
                    }

                    /**
                     * 处理提交评论的反馈信息
                    */
                    function commentResponse(result) {
                        if (result.message) {
                            alert(result.message);
                        }

                        if (result.error == 0) {
                            var layer = document.getElementById('ECS_COMMENT');

                            if (layer) {
                                layer.innerHTML = result.content;
                            }
                        }
                    }

                    //]]>
                </script>
            </div>
            <div class="blank"></div>
            <div class="blank5"></div>
        </div>
    </div>
    <div class="blank"></div>
</div>

<div class="blank"></div>

</div>

@Html.Partial("_Footer")
@Html.Partial("_FloatTools")

