@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

@section Contents {
    @System.Web.Optimization.Scripts.Render("~/content/js/jquery.min.js")
    @System.Web.Optimization.Scripts.Render("~/content/js/jquery.lazyload.js")
}

@model Zero.Web.Models.ProductListModel

@Html.Partial("_Top")
@Html.Partial("_Header")

<div class="block clearfix">
    <div class="box">
        <div class="box_1">
            <div class="ur_here">
                <div style="float: left"><a href=".">首页</a> <code>&gt;</code> <a href="category-6-b0.html">ECSHOP免费模板</a> <code>&gt;</code> <a href="category-14-b0.html">综合通用</a>&nbsp;&gt;</div>
                <div class="b_box2">

                    <a id="choose_style" href="category-14-b0-min0-max0-attr0.549.html">时尚简约<b></b></a>
                    <a id="choose_style" href="category-14-b0-min0-max0-attr246.0.html">白色<b></b></a>
                </div>
            </div>

            <div class="screeBox clearfix">
                <strong>分类：</strong>

                <div class="b_box">

                    <ul>
                        <li><a href="category-6-b0-min0-max0-attr246.549.html">全部</a> </li>
                        <li><span>综合通用</span></li>
                        <li><a href="category-15-b0-min0-max0-attr246.549.html">家电数码</a> </li>
                        <li><a href="category-16-b0-min0-max0-attr246.549.html">服装鞋帽</a> </li>
                        <li><a href="category-17-b0-min0-max0-attr246.549.html">英文外贸</a> </li>
                        <li><a href="category-18-b0-min0-max0-attr246.549.html">美容护肤</a> </li>
                        <li><a href="category-19-b0-min0-max0-attr246.549.html">食品保健</a> </li>
                        <li><a href="category-20-b0-min0-max0-attr246.549.html">珠宝饰品</a> </li>
                        <li><a href="category-21-b0-min0-max0-attr246.549.html">鲜花礼品</a> </li>
                        <li><a href="category-22-b0-min0-max0-attr246.549.html">团购模板</a> </li>
                    </ul>




                </div>

            </div>
            <div class="screeBox clearfix">
                <strong>主题：</strong>


                <ul>
                    <li><a href="category-14-b0-min0-max0-attr0.549.html">全部</a></li>
                    <li><a href="category-14-b0-min0-max0-attr497.549.html">古典雅致</a></li>
                    <li><a href="category-14-b0-min0-max0-attr250.549.html">可爱温馨</a></li>
                    <li><span>时尚简约</span></li>
                    <li><a href="category-14-b0-min0-max0-attr240.549.html">潮流酷炫</a></li>
                    <li><a href="category-14-b0-min0-max0-attr211.549.html">节日庆典</a></li>
                </ul>
            </div>

            <div class="screeBox clearfix">
                <strong>色系：</strong>


                <ul>
                    <li><a href="category-14-b0-min0-max0-attr246.0.html">全部</a></li>
                    <li><a href="category-14-b0-min0-max0-attr246.540.html">多彩</a></li>
                    <li><span>白色</span></li>
                    <li><a href="category-14-b0-min0-max0-attr246.498.html">紫色</a></li>
                    <li><a href="category-14-b0-min0-max0-attr246.212.html">红色</a></li>
                    <li><a href="category-14-b0-min0-max0-attr246.450.html">绿色</a></li>
                    <li><a href="category-14-b0-min0-max0-attr246.398.html">蓝色</a></li>
                    <li><a href="category-14-b0-min0-max0-attr246.243.html">黑色</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="blank"></div>

    <div class="h3_2">
        <div class="f_l">
            <h1>综合通用</h1>
            (1)
        </div>
        <form method="GET" name="listform">
            <a rel="nofollow" href="category.php?category=14&display=grid&brand=0&price_min=0&price_max=0&filter_attr=246.549&page=1&sort=goods_id&order=ASC#goods_list">
                <img src="/content/images/goods_id_DESC.gif" alt="按上架时间排序"></a>
            <a rel="nofollow" href="category.php?category=14&display=grid&brand=0&price_min=0&price_max=0&filter_attr=246.549&page=1&sort=shop_price&order=ASC#goods_list">
                <img src="/content/images/shop_price_default.gif" alt="按价格排序"></a>
            <a rel="nofollow" href="category.php?category=14&display=grid&brand=0&price_min=0&price_max=0&filter_attr=246.549&page=1&sort=last_update&order=DESC#goods_list">
                <img src="/content/images/last_update_default.gif" alt="按更新时间排序"></a>
            <input type="hidden" name="category" value="14" />
            <input type="hidden" name="display" value="grid" id="display" />
            <input type="hidden" name="brand" value="0" />
            <input type="hidden" name="price_min" value="0" />
            <input type="hidden" name="price_max" value="0" />
            <input type="hidden" name="filter_attr" value="246.549" />
            <input type="hidden" name="page" value="1" />
            <input type="hidden" name="sort" value="goods_id" />
            <input type="hidden" name="order" value="DESC" />
        </form>
    </div>
    <div class="blank"></div>

    <div class="cat_box">
        @{
            var i=0;
            foreach (var product in Model.ProductList)
            {                
                <div class="goodsItem_kuang" @if(i%5==0){<text>style="margin-left:0;"</text>}>
                    <div class="goodsItem" onmouseover="this.className='goodsItem goodsItem_on'" onmouseout="this.className='goodsItem'">
                        <a href="@product.DetailUrl" target="_blank">
                            <img data-original="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(product.Photo,220,220)" src="/content/images/loading.gif" alt="@product.ProductName" class="goodsimg" /></a><br />
                        <p><a href="@product.DetailUrl" title="@product.ProductName" target="_blank">@product.ProductName</a></p>
                        <div class="clearfix">
                            <font class="f1">￥ @product.Price 元</font>
                            <a href="@product.DetailUrl" class="pinlun" target="_blank">评论(0)</a>
                        </div>
                    </div>
                </div>
                i++;
            }
        }
    </div>

    <div class="blank5"></div>
    <script type="text/javascript">
<!--
    function selectPage(sel) {
        sel.form.submit();
    }
    //-->
    </script>
    <script type="text/javascript">
        window.onload = function () {
            Compare.init();
            fixpng();
        }
        var button_compare = '';
        var exist = "您已经选择了%s";
        var count_limit = "最多只能选择4个商品进行对比";
        var goods_type_different = "\"%s\"和已选择商品类型不同无法进行对比";
        var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
        var btn_buy = "购买";
        var is_cancel = "取消";
        var select_spe = "请选择商品属性";
    </script>
    <form name="selectPageForm" action="/category.php" method="get">
        <div id="pager" class="pagebar">

            <a class="prev" href="category-9-b0-min0-max0-attr0-5-goods_id-DESC.html">&lt;上一页</a>
            <a href="category-9-b0-min0-max0-attr0-1-goods_id-DESC.html">1</a>
            <a href="category-9-b0-min0-max0-attr0-2-goods_id-DESC.html">2</a>
            <a href="category-9-b0-min0-max0-attr0-3-goods_id-DESC.html">3</a>
            <a href="category-9-b0-min0-max0-attr0-4-goods_id-DESC.html">4</a>
            <a href="category-9-b0-min0-max0-attr0-5-goods_id-DESC.html">5</a>
            <span class="page_now">6</span>

            <a class="no">下一页&gt;</a>


        </div>
    </form>
    <script type="Text/Javascript" language="JavaScript">
    <!--
    function selectPage(sel) {
        sel.form.submit();
    }
    //-->
    </script>
</div>

@Html.Partial("_Footer")
@Html.Partial("_FloatTools")


