@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


@section Contents {
    @System.Web.Optimization.Styles.Render("~/content/css/index.css")
 @*   @System.Web.Optimization.Scripts.Render("~/content/js/lxb.js")*@
    @System.Web.Optimization.Scripts.Render("~/content/js/sdk.js")
    @System.Web.Optimization.Scripts.Render("~/content/js/index.js")
}

@Html.Partial("_Top")
@Html.Partial("_Header")

@model Zero.Web.Models.IndexModel
   
<div class="block clearfix" style="overflow: hidden; position: relative">
    <div class="index_l">
        <div style=" padding-left:210px">
	
	        <div class="big-slide">
		        <ul id="big-slide-ul" style="left: -3750px;">
			        <li><a target="_blank" href="http://www.ecmoban.com/weixin/yjdd.html"><img src="/content/images/slide-01.jpg" alt=""></a></li>
			        <li><a target="_blank" href="http://www.ecmoban.com/goods-387.html"><img src="/content/images/slide-02.jpg" alt=""></a></li>
			        <li><a target="_blank" href="http://www.ecmoban.com/sjyx/ "><img src="/content/images/slide-03.jpg" alt=""></a></li>
		
			      @*  <li><a target="_blank" href="http://www.ecmoban.com/weixin/yjdd.html"><img src="themes/ecmoban/images/slider/slide-01.jpg" alt=""></a></li>
			        <li><a target="_blank" href="http://www.ecmoban.com/goods-387.html"><img src="themes/ecmoban/images/slider/slide-02.jpg" alt=""></a></li>
			        <li><a target="_blank" href="http://www.ecmoban.com/sjyx/ "><img src="themes/ecmoban/images/slider/slide-03.jpg" alt=""></a></li>
		
			        <li><a target="_blank" href="http://www.ecmoban.com/weixin/yjdd.html"><img src="themes/ecmoban/images/slider/slide-01.jpg" alt=""></a></li>
			        <li><a target="_blank" href="http://www.ecmoban.com/goods-387.html"><img src="themes/ecmoban/images/slider/slide-02.jpg" alt=""></a></li>
			        <li><a target="_blank" href="http://www.ecmoban.com/sjyx/ "><img src="themes/ecmoban/images/slider/slide-03.jpg" alt=""></a></li>
		
			        <li><a target="_blank" href="http://www.ecmoban.com/weixin/yjdd.html"><img src="themes/ecmoban/images/slider/slide-01.jpg" alt=""></a></li>
			        <li><a target="_blank" href="http://www.ecmoban.com/goods-387.html"><img src="themes/ecmoban/images/slider/slide-02.jpg" alt=""></a></li>
			        <li><a target="_blank" href="http://www.ecmoban.com/sjyx/ "><img src="themes/ecmoban/images/slider/slide-03.jpg" alt=""></a></li>*@
		        </ul>
		        <p class="slide-p">
			        <span class="">slide-span</span>
			        <span class="">slide-span</span>
			        <span class="slide-checked">slide-span</span>
		        </p>
		        <a href="javascript:void(0);" class="slide-l slide-btn" style="display: block; left: 5px;">点击</a>
		        <a href="javascript:void(0);" class="slide-r slide-btn" style="display: block; right: 5px;">点击</a>
	        </div>
	        <script type="text/javascript" src="/content/js/slide_big.js"></script>
        </div>
    </div>
    <div class="index_r">
        <div style="position: relative">
            <div class="scrollDiv" id="s3">
                <ul style="margin-top: 0px;">
                    @{
                        foreach (var newsItem in Model.NewsList)
                        {
                            <li><a href="@newsItem.DetailUrl" title="@newsItem.Title">@Zero.Core.Web.StringHelper.CutStr(newsItem.Title, 15, "...")</a></li>
                        }
                     }
                </ul>
            </div>
            <div class="btn_box">
                <span id="btn1" class="btn1" onmouseover="this.className=&#39;btn1 btn1_on &#39;" onmouseout="this.className=&#39;btn1&#39;" style="cursor: pointer;"></span>
                <span id="btn2" class="btn2" onmouseover="this.className=&#39;btn2 btn2_on &#39;" onmouseout="this.className=&#39;btn2&#39;" style="cursor: pointer;"></span>
            </div>
        </div>
        <script type="text/javascript">
            (function($){
                $.fn.extend({
                    Scroll:function(opt,callback){
                        //参数初始化
                        if(!opt) var opt={};
                        var _btnUp = $("#"+ opt.up);//Shawphy:向上按钮
                        var _btnDown = $("#"+ opt.down);//Shawphy:向下按钮
                        var timerID;
                        var _this=this.eq(0).find("ul:first");
                        var     lineH=_this.find("li:first").height(), //获取行高
                                line=opt.line?parseInt(opt.line,10):parseInt(this.height()/lineH,1), //每次滚动的行数，默认为一屏，即父容器高度
                                speed=opt.speed?parseInt(opt.speed,10):1500; //卷动速度，数值越大，速度越慢（毫秒）
                        timer=opt.timer //?parseInt(opt.timer,10):3000; //滚动的时间间隔（毫秒）
                        if(line==0) line=1;
                        var upHeight=0-line*lineH;
                        //滚动函数
                        var scrollUp=function(){
                            _btnUp.unbind("click",scrollUp); //Shawphy:取消向上按钮的函数绑定
                            _this.animate({
                                marginTop:upHeight
                            },speed,function(){
                                for(i=1;i<=line;i++){
                                    _this.find("li:first").appendTo(_this);
                                }
                                _this.css({marginTop:0});
                                _btnUp.bind("click",scrollUp); //Shawphy:绑定向上按钮的点击事件
                            });
	
                        }
                        //Shawphy:向下翻页函数
                        var scrollDown=function(){
                            _btnDown.unbind("click",scrollDown);
                            for(i=1;i<=line;i++){
                                _this.find("li:last").show().prependTo(_this);
                            }
                            _this.css({marginTop:upHeight});
                            _this.animate({
                                marginTop:0
                            },speed,function(){
                                _btnDown.bind("click",scrollDown);
                            });
                        }
                        //Shawphy:自动播放
                        var autoPlay = function(){
                            if(timer)timerID = window.setInterval(scrollUp,timer);
                        };
                        var autoStop = function(){
                            if(timer)window.clearInterval(timerID);
                        };
                        //鼠标事件绑定
                        _this.hover(autoStop,autoPlay).mouseout();
                        _btnUp.css("cursor","pointer").click( scrollUp ).hover(autoStop,autoPlay);//Shawphy:向上向下鼠标事件绑定
                        _btnDown.css("cursor","pointer").click( scrollDown ).hover(autoStop,autoPlay);
	
                    }      
                })
            })(jQuery);
	
            $(document).ready(function(){
                $("#s3").Scroll({line:1,speed:500,timer:3000,up:"btn1",down:"btn2"});
            });
</script>

        <div class="blank"></div>
        <script type="text/javascript">// 基于JQ的tab切换插件
            // 这里开始是鼠标移上去弹出图片效果
            var old = new Array();
            var buyercmt;
            function show_goodspic(id,type)
            {
                if(old[type]!=null)
                {
                    document.getElementById(type+"b"+old[type]).style.display='none';
                    document.getElementById(type+"s"+old[type]).style.display='block';
                }
                document.getElementById(type+"s"+id).style.display='none';
                document.getElementById(type+"b"+id).style.display='block';
                old[type] = id;
            }
</script>

        <div class="index_top box_1">
            <div id="slideTxtBox1">
                <div class="hd">
                    <span>热门模板</span>
                    <ul>
                        <li class="on"><a href="http://www.ecmoban.com/category-9-b0.html" target="_blank">付费</a></li>
                        <li><a href="http://www.ecmoban.com/category-6-b0.html" target="_blank">免费</a></li>
                    </ul>
                </div>
                <div class="bd">
                    <ul>
                        <dl style="display: list-item;">
                            @{
                                var i = 1;
                                foreach (var product in Model.ProductList)
                                {
                                    <ul class="clearfix ul_list" id="hot3s@(i)" onmouseover="show_goodspic(@i,&#39;hot3&#39;)" style="display:@(i == 1 ? "none" : "block");">
                                        <span>@(i)</span>
                                        <p class="name">
                                            <a href="@product.DetailUrl" title="@product.ProductName">@Zero.Core.Web.StringHelper.CutStr(product.ProductName, 13, "...")</a>
                                        </p>
                                        <div class="ren">@(product.Score)人</div>
                                    </ul>
                                    <ul class="clearfix ul_box" id="hot3b@(i)" style="display:@(i == 1 ? "block" : "none");">
                                        <span>@(i)</span>
                                        <li class="img">
                                            <a href="@product.DetailUrl">
                                                <img src="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(product.Photo, 220, 220)" alt="@product.ProductName"></a>
                                        </li>
                                        <li>
                                            <a href="@product.DetailUrl" title="@product.ProductName">@product.ProductName</a><br>
                                            <font class="f1">￥(@product.Price)元</font>
                                            <div class="ren">@(product.Score)人</div>
                                        </li>
                                    </ul>
                                    i++;
                                    if (i == 10) { break; }
                                }
                              }
                            <script type="text/javascript"> window.onload = show_goodspic(1,'hot1');</script>
                        </dl>
                    </ul>
                    <ul style="display: none;">
                        <dl style="display: list-item;">
                            @{
                                i = 1;
                                foreach (var product in Model.ProductList)
                                {
                                    <ul class="clearfix ul_list" id="hot3s@(i)" onmouseover="show_goodspic(@i,&#39;hot3&#39;)" style="display:@(i == 1 ? "none" : "block");">
                                        <span>@(i)</span>
                                        <p class="name">
                                            <a href="@product.DetailUrl" title="@product.ProductName">@Zero.Core.Web.StringHelper.CutStr(product.ProductName, 13, "...")</a>
                                        </p>
                                        <div class="ren">@(product.Score)人</div>
                                    </ul>
                                    <ul class="clearfix ul_box" id="hot3b@(i)" style="display:@(i == 1 ? "block" : "none");">
                                        <span>@(i)</span>
                                        <li class="img">
                                            <a href="@product.DetailUrl">
                                                <img src="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(product.Photo, 220, 220)" alt="@product.ProductName"></a>
                                        </li>
                                        <li>
                                            <a href="@product.DetailUrl" title="@product.ProductName">@product.ProductName</a><br>
                                            <font class="f1">￥(@product.Price)元</font>
                                            <div class="ren">@(product.Score)人</div>
                                        </li>
                                    </ul>
                                    i++;
                                    if (i == 10) { break; }
                                }
                              }
                            <script type="text/javascript"> window.onload = show_goodspic(1,'hot2');</script>
                        </dl>
                    </ul>

                </div>
            </div>
            <script type="text/javascript">
                jQuery("#slideTxtBox1").slide();
</script>
            <div id="slideTxtBox2">
                <div class="hd">
                    <span>热门插件</span>
                    <ul>
                        <li class="on"><a href="http://www.ecmoban.com/category-24-b0.html" target="_blank">付费</a></li>
                        <li><a href="http://www.ecmoban.com/category-25-b0.html" target="_blank">免费</a></li>
                    </ul>
                </div>
                <div class="bd">
                    <ul>
                        <dl style="display: list-item;">

                            @{
                                i = 1;
                                foreach (var product in Model.ProductList)
                                {
                                    <ul class="clearfix ul_list" id="hot3s@(i)" onmouseover="show_goodspic(@i,&#39;hot3&#39;)" style="display:@(i == 1 ? "none" : "block");">
                                        <span>@(i)</span>
                                        <p class="name">
                                            <a href="@product.DetailUrl" title="@product.ProductName">@Zero.Core.Web.StringHelper.CutStr(product.ProductName, 13, "...")</a>
                                        </p>
                                        <div class="ren">@(product.Score)人</div>
                                    </ul>
                                    <ul class="clearfix ul_box" id="hot3b@(i)" style="display:@(i == 1 ? "block" : "none");">
                                        <span>@(i)</span>
                                        <li class="img">
                                            <a href="@product.DetailUrl">
                                                <img src="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(product.Photo, 220, 220)" alt="@product.ProductName"></a>
                                        </li>
                                        <li>
                                            <a href="@product.DetailUrl" title="@product.ProductName">@product.ProductName</a><br>
                                            <font class="f1">￥(@product.Price)元</font>
                                            <div class="ren">@(product.Score)人</div>
                                        </li>
                                    </ul>
                                    i++;
                                    if (i == 10) { break; }
                                }
                              }
                            
                            <script type="text/javascript"> window.onload = show_goodspic(1,'hot3');</script>
                        </dl>
                    </ul>
                    <ul style="display: none;">
                        <dl style="display: list-item;">
                           @{
                               i = 1;
                               foreach (var product in Model.ProductList)
                               {
                                    <ul class="clearfix ul_list" id="hot3s@(i)" onmouseover="show_goodspic(@i,&#39;hot3&#39;)" style="display:@(i == 1 ? "none" : "block");">
                                        <span>@(i)</span>
                                        <p class="name">
                                            <a href="@product.DetailUrl" title="@product.ProductName">@Zero.Core.Web.StringHelper.CutStr(product.ProductName, 13, "...")</a>
                                        </p>
                                        <div class="ren">@(product.Score)人</div>
                                    </ul>
                                    <ul class="clearfix ul_box" id="hot3b@(i)" style="display:@(i == 1 ? "block" : "none");">
                                        <span>@(i)</span>
                                        <li class="img">
                                            <a href="@product.DetailUrl">
                                                <img src="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(product.Photo, 220, 220)" alt="@product.ProductName"></a>
                                        </li>
                                        <li>
                                            <a href="@product.DetailUrl" title="@product.ProductName">@product.ProductName</a><br>
                                            <font class="f1">￥(@product.Price)元</font>
                                            <div class="ren">@(product.Score)人</div>
                                        </li>
                                    </ul>
                                   i++;
                                   if (i == 10) { break; }
                               }
                             }
                            <script type="text/javascript"> window.onload = show_goodspic(1,'hot4');</script>
                        </dl>
                    </ul>

                </div>
            </div>
            <script type="text/javascript">
                jQuery("#slideTxtBox2").slide();
</script>
        </div>





    </div>
    <div class="blank"></div>
    <div class="tit3">
        <span>
            <a href="http://www.ecmoban.com/category-4-b0.html" target="_blank">1F 综合通用模板</a>
        </span>
        <a href="http://www.ecmoban.com/category-4-b0.html" class="more" target="_blank">更多模板</a>
    </div>
    <div class="blank"></div>
    <div class="cat_box">

        @{
            i = 0;
            foreach (var product in Model.ProductList)
            {
                <div class="goodsItem_kuang" style="@(i==0?"margin-left:0;":"")">
                    <div class="goodsItem goodsItem_on" onmouseover="this.className=&#39;goodsItem goodsItem_on&#39;" onmouseout="this.className=&#39;goodsItem&#39;">

                     @*   <div class="fj">
                            <a href="http://www.ecmoban.com/goods-398.html" target="_blank" class="fj_a1"><span class="biao pngfix"></span><span>详情介绍</span></a>
                            <a target="_blank" href="http://www.ecmoban.com/mb/siku" class="fj_a2"><span class="biao pngfix"></span><span>实际演示</span></a>
                        </div>*@

                        <a href="@product.DetailUrl" target="_blank">
                            <img data-original="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(product.Photo, 220, 220)" src="" alt="@product.ProductName" class="goodsimg" style="display: inline;"></a><br>
                        <p><a href="@product.DetailUrl" target="_blank" title="@product.ProductName">@Zero.Core.Web.StringHelper.CutStr(product.ProductName, 13, "...")</a></p>
                        <p class="lujin"><strong><a class="lj1" target="_blank" href="http://www.ecmoban.com/category-9-b0.html" title="ECSHOP模板堂寺库中国奢侈品网2014全网首发">ECSHOP模板</a></strong>  - <a href="http://www.ecmoban.com/category-4-b0.html" title="ECSHOP模板堂寺库中国奢侈品网2014全网首发">综合通用</a></p>
                        <div class="clearfix">
                            <font class="f1">￥@(product.Price)元</font>
                            <a href="http://www.ecmoban.com/goods-398.html" class="pinlun">评论(0)</a>
                        </div>

                    </div>
                </div>
                i++;
                if (i == 5) { break; }
            }
         }
        
    </div>
    <div class="blank"></div>
        
    <div class="tit3">
        <span>
            <a href="http://www.ecmoban.com/category-34-b0.html" target="_blank">6F 手机版/客户端</a>
        </span>
        <a href="http://www.ecmoban.com/category-34-b0.html" target="_blank" class="more">更多客户端</a>
    </div>
    <div class="blank"></div>
    <div class="cat_box">
        @{
            i = 0;
            foreach (var product in Model.ProductList)
            {
                <div class="goodsItem_kuang" style="@(i==0?"margin-left:0;":"")">
                    <div class="goodsItem goodsItem_on" onmouseover="this.className=&#39;goodsItem goodsItem_on&#39;" onmouseout="this.className=&#39;goodsItem&#39;">

                     @*   <div class="fj">
                            <a href="http://www.ecmoban.com/goods-398.html" target="_blank" class="fj_a1"><span class="biao pngfix"></span><span>详情介绍</span></a>
                            <a target="_blank" href="http://www.ecmoban.com/mb/siku" class="fj_a2"><span class="biao pngfix"></span><span>实际演示</span></a>
                        </div>*@

                        <a href="@product.DetailUrl" target="_blank">
                            <img data-original="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(product.Photo, 220, 220)" src="" alt="@product.ProductName" class="goodsimg" style="display: inline;"></a><br>
                        <p><a href="@product.DetailUrl" target="_blank" title="@product.ProductName">@Zero.Core.Web.StringHelper.CutStr(product.ProductName, 13, "...")</a></p>
                        <p class="lujin"><strong><a class="lj1" target="_blank" href="http://www.ecmoban.com/category-9-b0.html" title="ECSHOP模板堂寺库中国奢侈品网2014全网首发">ECSHOP模板</a></strong>  - <a href="http://www.ecmoban.com/category-4-b0.html" title="ECSHOP模板堂寺库中国奢侈品网2014全网首发">综合通用</a></p>
                        <div class="clearfix">
                            <font class="f1">￥@(product.Price)元</font>
                            <a href="http://www.ecmoban.com/goods-398.html" class="pinlun">评论(0)</a>
                        </div>

                    </div>
                </div>
                i++;
                if (i == 5) { break; }
            }
         }
    </div>
    <div class="blank"></div>



    <div class="bottom_txt clearfix">
        <div class="in1">

            <h3><span>热门评论</span><a href="http://www.ecmoban.com/message.php">更多</a></h3>
            <div class="comm_in  ">


                <div class="shell">
                    <div id="div1">
                        <a class="comm_list" style="text-decoration: none" href="http://www.ecmoban.com/goods-276.html" title="模板堂爱之谷全网最强模板" target="_blank">
                            <img alt="模板堂爱之谷全网最强模板" title="模板堂爱之谷全网最强模板" src="/content/images/276_thumb_G_1381969966979.jpg" class="goods_img">
                            <ul>
                                <p>模板堂爱之谷全网最强模板</p>
                                已经用上了，效果非常不错哦
                            </ul>
                        </a>
                    </div>
                </div>
                <script language="javascript">
                    var box=document.getElementById("div1"),can=true;
                    box.innerHTML+=box.innerHTML;
                    box.onmouseover=function(){can=false};
                    box.onmouseout=function(){can=true};
                    new function (){
                        var stop=box.scrollTop%6==0&&!can;
                        if(!stop)box.scrollTop==parseInt(box.scrollHeight/2)?box.scrollTop=0:box.scrollTop++;
                        setTimeout(arguments.callee,box.scrollTop%72?6:2500);
                    };
                </script>
            </div>
        </div>
        <div class="in1">
            <div class="box_1 art">
                <h3>
                    <span><a target="_blank" href="http://www.ecmoban.com/ecshop.html">ecshop教程</a></span>
                    <a target="_blank" href="http://www.ecmoban.com/ecshop.html">更多</a>
                </h3>
                <div class="boxCenterList RelaArticle">
                    @{
                        foreach (var newsItem in Model.NewsList)
                        {
                            <a target="_blank" href="@newsItem.DetailUrl" title="@newsItem.Title">@Zero.Core.Web.StringHelper.CutStr(newsItem.Title, 20, "...")</a>
                        }
                     }
                    
                </div>
            </div>

            <div class="blank5"></div>
        </div>
        <div class="in1">
            <div class="box_1 art">
                <h3>
                    <span><a target="_blank" href="http://www.ecmoban.com/article_cat-9.html">公司新闻</a></span>
                    <a target="_blank" href="http://www.ecmoban.com/article_cat-9.html">更多</a>
                </h3>
                <div class="boxCenterList RelaArticle">
                    @{
                        foreach (var newsItem in Model.NewsList)
                        {
                            <a target="_blank" href="@newsItem.DetailUrl" title="@newsItem.Title">@Zero.Core.Web.StringHelper.CutStr(newsItem.Title, 20, "...")</a>
                        }
                     }
                </div>
            </div>

            <div class="blank5"></div>
        </div>
        <div class="in1" style="margin: 0">
            <div class="box_1 art">
                <h3>
                    <span><a target="_blank" href="http://www.ecmoban.com/article_cat-6.html">优惠活动</a></span>
                    <a target="_blank" href="http://www.ecmoban.com/article_cat-6.html">更多</a>
                </h3>
                <div class="boxCenterList RelaArticle">
                    @{
                        foreach (var newsItem in Model.NewsList)
                        {
                            <a target="_blank" href="@newsItem.DetailUrl" title="@newsItem.Title">@Zero.Core.Web.StringHelper.CutStr(newsItem.Title, 20, "...")</a>
                        }
                     }
                </div>
            </div>

            <div class="blank5"></div>

        </div>

    </div>



    <style type="text/css">
        .slideGroup { position: absolute; left: 0; top: 340px; width: 960px; }
        .slideGroup .parHd { border-bottom: 2px solid #cb0404; height: 31px; }
        .slideGroup .parHd ul { float: left; }
        .slideGroup .parHd ul li { float: left; background: #eae5e1; color: #7e7c7b; height: 31px; text-align: center; line-height: 31px; width: 210px; font-weight: bold; color: #FFF; margin-right: 2px; font-weight: normal; font-family: "微软雅黑"; font-size: 13px; }
        .slideGroup .parHd ul li.on { background: #cb0404; color: #FFF; }
        .slideGroup .parHd ul li.on a { color: #FFF; font-weight: bold; }
        .slideGroup .parBd { padding: 10px 0; zoom: 1; }
        .slideGroup .slideBox5 { overflow: hidden; zoom: 1; height: 320px; position: relative; width: 960px; }
        .slideGroup .sPrev, .slideGroup .sNext { position: absolute; display: none; top: 100px; width: 20px; height: 80px; background: #cb0404; z-index: 9999999999; cursor: pointer; FILTER: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }
        .slideGroup .sPrev span, .slideGroup .sNext span { display: block; width: 7px; height: 13px; margin: 0 auto; margin-top: 30px; }
        .slideBox_on .sPrev, .slideBox_on .sNext { display: block; FILTER: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }
        .slideGroup .sPrev { left: 0; }
        .slideGroup .sNext { right: 2px; }
        .slideGroup .sPrev span { background: url(themes/ecmoban/images/bg.png) -579px -84px; }
        .slideGroup .sNext span { background: url(themes/ecmoban/images/bg.png) -579px -149px; }
        .slideGroup .sPrev:hover, .slideGroup .sNext:hover { background: #de3939; }
        .slideGroup .parBd .tempWrap { float: left; }
        .slideGroup .parBd ul { overflow: hidden; zoom: 1; float: left; }
        .slideGroup .parBd ul li { float: left; _display: inline; overflow: hidden; text-align: center; }
    </style>

    <div class="slideGroup">
        <div class="parHd">
            <ul>
                <li class="on"><a href="http://www.ecmoban.com/category-9-b0.html" target="_blank">秒杀商品</a></li>
                <li><a href="http://www.ecmoban.com/category-23-b0.html" target="_blank">热门商品</a></li>
                <li><a href="http://www.ecmoban.com/category-34-b0.html" target="_blank">购买最多</a></li>
            </ul>
        </div>
        <div class="parBd">
            <div class="slideBox5" onmouseover="this.className=&#39;slideBox5 slideBox_on&#39;" onmouseout="this.className=&#39;slideBox5&#39;">

                <div class="tempWrap" style="overflow: hidden; position: relative; width: 968px">
                    <ul style="width: 5808px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1936px;">
                        @{
                            foreach (var product in Model.ProductList)
                            {
                                <li class="goodsItem_kuang goodsItem_kuang2" style="float: left; width: 232px;">
                                    <div class="goodsItem" onmouseover="this.className=&#39;goodsItem goodsItem_on&#39;" onmouseout="this.className=&#39;goodsItem&#39;">
                                        <a href="@product.DetailUrl" target="_blank">
                                            <img src="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(product.Photo, 220, 220)" alt="@product.ProductName" class="goodsimg"></a><br>
                                        <p><a href="@product.DetailUrl" target="_blank" title="@product.ProductName">@Zero.Core.Web.StringHelper.CutStr(product.ProductName, 20, "...")<span></span></a></p>
                                        <p class="lujin"><strong><a class="lj1" href="@product.CateUrl" target="_blank" title="@product.ProductName">ecshop手机版</a></strong>  - <a href="http://www.ecmoban.com/category-41-b0.html" target="_blank" title="ecshop微商城—首款ecshop微信商城系统 自主开发">ecshop微商城</a></p>
                                        <div class="clearfix">
                                            <font class="f1">￥@(product.Price)元</font>
                                            <a target="_blank" href="http://www.ecmoban.com/goods-414.html" class="pinlun">评论(0)</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <a class="sPrev" href="javascript:void(0)"><span></span></a>
                <a class="sNext" href="javascript:void(0)"><span></span></a>
            </div>
            <div class="slideBox5" onmouseover="this.className=&#39;slideBox5 slideBox_on&#39;" onmouseout="this.className=&#39;slideBox5&#39;" style="display: none;">

                <div class="tempWrap" style="overflow: hidden; position: relative; width: 968px">
                    <ul style="width: 5808px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1936px;">
                        @{
                            foreach (var product in Model.ProductList)
                            {
                                <li class="goodsItem_kuang goodsItem_kuang2" style="float: left; width: 232px;">
                                    <div class="goodsItem" onmouseover="this.className=&#39;goodsItem goodsItem_on&#39;" onmouseout="this.className=&#39;goodsItem&#39;">
                                        <a href="@product.DetailUrl" target="_blank">
                                            <img src="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(product.Photo, 220, 220)" alt="@product.ProductName" class="goodsimg"></a><br>
                                        <p><a href="@product.DetailUrl" target="_blank" title="@product.ProductName">@Zero.Core.Web.StringHelper.CutStr(product.ProductName, 20, "...")<span></span></a></p>
                                        <p class="lujin"><strong><a class="lj1" href="@product.CateUrl" target="_blank" title="@product.ProductName">ecshop手机版</a></strong>  - <a href="http://www.ecmoban.com/category-41-b0.html" target="_blank" title="ecshop微商城—首款ecshop微信商城系统 自主开发">ecshop微商城</a></p>
                                        <div class="clearfix">
                                            <font class="f1">￥@(product.Price)元</font>
                                            <a target="_blank" href="http://www.ecmoban.com/goods-414.html" class="pinlun">评论(0)</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <a class="sPrev" href="javascript:void(0)"><span></span></a>
                <a class="sNext" href="javascript:void(0)"><span></span></a>
            </div>
            <div class="slideBox5" onmouseover="this.className=&#39;slideBox5 slideBox_on&#39;" onmouseout="this.className=&#39;slideBox5&#39;" style="display: none;">

                <div class="tempWrap" style="overflow: hidden; position: relative; width: 968px">
                    <ul style="width: 5808px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1936px;">
                        @{
                            foreach (var product in Model.ProductList)
                            {
                                <li class="goodsItem_kuang goodsItem_kuang2" style="float: left; width: 232px;">
                                    <div class="goodsItem" onmouseover="this.className=&#39;goodsItem goodsItem_on&#39;" onmouseout="this.className=&#39;goodsItem&#39;">
                                        <a href="@product.DetailUrl" target="_blank">
                                            <img src="@Zero.Domain.PhotoUrlFactory.GetPhotoUrl(product.Photo, 220, 220)" alt="@product.ProductName" class="goodsimg"></a><br>
                                        <p><a href="@product.DetailUrl" target="_blank" title="@product.ProductName">@Zero.Core.Web.StringHelper.CutStr(product.ProductName, 20, "...")<span></span></a></p>
                                        <p class="lujin"><strong><a class="lj1" href="@product.CateUrl" target="_blank" title="@product.ProductName">ecshop手机版</a></strong>  - <a href="http://www.ecmoban.com/category-41-b0.html" target="_blank" title="ecshop微商城—首款ecshop微信商城系统 自主开发">ecshop微商城</a></p>
                                        <div class="clearfix">
                                            <font class="f1">￥@(product.Price)元</font>
                                            <a target="_blank" href="http://www.ecmoban.com/goods-414.html" class="pinlun">评论(0)</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <a class="sPrev" href="javascript:void(0)"><span></span></a>
                <a class="sNext" href="javascript:void(0)"><span></span></a>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(".slideGroup .slideBox5").slide({mainCell:"ul",vis:4,prevCell:".sPrev",nextCell:".sNext",effect:"leftLoop"});
        jQuery(".slideGroup").slide({titCell:".parHd li",mainCell:".parBd"});
	</script>




</div>
@Html.Partial("_Footer")
@Html.Partial("_FloatTools")
